.player-card {
  border-radius: 2px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 312px;
  height: 90px;
  box-sizing: border-box;
  pointer-events: auto;
  background-color: rgba($color: #000000, $alpha: 0.4);

  .top-row {
    display: flex;
    align-items: center;
    height: 38px;

    &.right {
      flex-direction: row-reverse;

      .agent-icon {
        margin-right: 2px;

        img {
          transform: scaleX(-1);
        }
      }

      .player-name {
        margin-right: 10px;
      }

      .armour {
        flex-direction: row-reverse;
        margin-left: 5px;
        margin-right: auto;
      }
    }

    .agent-icon {
      margin-left: 2px;
      height: 38px;
      width: 60px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ensures image fills container */
        object-position: center; /* keeps it centered */
        transition: transform 0.4s ease;
        transform-origin: center center;
        transform: scale(1.2);
      }
    }

    .player-name {
      font-weight: bold;
      margin-left: 10px;
    }

    .armour {
      margin-left: auto;
      margin-right: 5px;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        height: 30px;
      }

      .amount {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .bottom-row {
    display: flex;
    align-items: center;
    height: 45px;

    &.right {
      flex-direction: row-reverse;

      .ultimate {
        margin-right: 4px;
        margin-left: 0;
      }

      .abilities {
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: 25px;
      }

      .weap-creds {
        margin-right: auto;
        margin-left: 4px;
        gap: 10px;
        flex-direction: row-reverse;

        .weapon {
          img {
            height: 15px;
            transform: none;
          }
        }

        .creds {
          gap: 4px;

          img {
            height: 12px;
            width: 12px;
          }
        }
      }
    }

    .ultimate {
      margin-left: 4px;
    }

    .abilities {
      display: flex;
      gap: 10px;
      margin-left: 25px;
      img {
        width: 25px;
        height: 25px;
      }
    }

    .weap-creds {
      margin-left: auto;
      display: flex;
      gap: 10px;
      margin-right: 4px;

      .weapon {
        img {
          height: 15px;
          transform: scaleX(-1);
        }
      }

      .creds {
        display: flex;
        align-items: flex-end;
        gap: 4px;

        img {
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}

.player-name {
  font-weight: bold;
}

.health-bar {
  width: 100%;
  height: 7px;
  overflow: hidden;

  &.right {
    transform: scaleX(-1);
  }
}

.health-fill {
  height: 100%;
  transition: width 0.3s;

  &.green {
    background: #33fcca;
  }
  &.red {
    background: #fd4d5f;
  }
}

.weapon,
.agent {
  font-size: 10px;
  color: #ccc;
}
