<div class="overlay-container">
  <!-- Left side players -->
  <div class="team left-team">
    <!-- <div class="progress-circle">
      <div class="center-icon">
        <img src="icon.png" alt="icon" />
      </div>
    </div> -->

    @for (player of leftPlayers.toReversed(); track $index) {
    <app-player-card [player]="player"></app-player-card>
    }
  </div>

  <!-- Right side players -->
  <div class="team right-team">
    @for (player of rightPlayers.toReversed(); track $index) {
    <app-player-card [player]="player"></app-player-card>
    }
  </div>
</div>
<div class="arc-ring">
  <svg viewBox="0 0 100 100" class="arc-svg" aria-hidden="true">
    <circle class="arc" cx="50" cy="50" r="40" pathLength="1" />
  </svg>
</div>
