.arc-ring {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.arc-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.arc {
  fill: none;
  stroke-width: 14;
  stroke-linecap: round;
  opacity: 0.9;
}

.arc-ring img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}
